src/wsdl/localhost_8080/Gocheetah-service/GocheetahWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.gocheetah.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.gocheetah.mycompany.com/" name="GocheetahWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.gocheetah.mycompany.com/" schemaLocation="http://localhost:8080/Gocheetah-service/GocheetahWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findDriverVehicleList">
<part name="parameters" element="tns:findDriverVehicleList"/>
</message>
<message name="findDriverVehicleListResponse">
<part name="parameters" element="tns:findDriverVehicleListResponse"/>
</message>
<message name="getDriver">
<part name="parameters" element="tns:getDriver"/>
</message>
<message name="getDriverResponse">
<part name="parameters" element="tns:getDriverResponse"/>
</message>
<message name="getBranch">
<part name="parameters" element="tns:getBranch"/>
</message>
<message name="getBranchResponse">
<part name="parameters" element="tns:getBranchResponse"/>
</message>
<message name="updatedBranch">
<part name="parameters" element="tns:updatedBranch"/>
</message>
<message name="updatedBranchResponse">
<part name="parameters" element="tns:updatedBranchResponse"/>
</message>
<message name="deleteBranch">
<part name="parameters" element="tns:deleteBranch"/>
</message>
<message name="deleteBranchResponse">
<part name="parameters" element="tns:deleteBranchResponse"/>
</message>
<message name="viewVehicles">
<part name="parameters" element="tns:viewVehicles"/>
</message>
<message name="viewVehiclesResponse">
<part name="parameters" element="tns:viewVehiclesResponse"/>
</message>
<message name="addVehicle">
<part name="parameters" element="tns:addVehicle"/>
</message>
<message name="addVehicleResponse">
<part name="parameters" element="tns:addVehicleResponse"/>
</message>
<message name="vehicleList">
<part name="parameters" element="tns:vehicleList"/>
</message>
<message name="vehicleListResponse">
<part name="parameters" element="tns:vehicleListResponse"/>
</message>
<message name="getVehicle">
<part name="parameters" element="tns:getVehicle"/>
</message>
<message name="getVehicleResponse">
<part name="parameters" element="tns:getVehicleResponse"/>
</message>
<message name="updateVehicle">
<part name="parameters" element="tns:updateVehicle"/>
</message>
<message name="updateVehicleResponse">
<part name="parameters" element="tns:updateVehicleResponse"/>
</message>
<message name="deleteVehicle">
<part name="parameters" element="tns:deleteVehicle"/>
</message>
<message name="deleteVehicleResponse">
<part name="parameters" element="tns:deleteVehicleResponse"/>
</message>
<message name="getAdmin">
<part name="parameters" element="tns:getAdmin"/>
</message>
<message name="getAdminResponse">
<part name="parameters" element="tns:getAdminResponse"/>
</message>
<message name="viewVehicleCateories">
<part name="parameters" element="tns:viewVehicleCateories"/>
</message>
<message name="viewVehicleCateoriesResponse">
<part name="parameters" element="tns:viewVehicleCateoriesResponse"/>
</message>
<message name="addVehicleCategory">
<part name="parameters" element="tns:addVehicleCategory"/>
</message>
<message name="addVehicleCategoryResponse">
<part name="parameters" element="tns:addVehicleCategoryResponse"/>
</message>
<message name="updatedVehicleCategory">
<part name="parameters" element="tns:updatedVehicleCategory"/>
</message>
<message name="updatedVehicleCategoryResponse">
<part name="parameters" element="tns:updatedVehicleCategoryResponse"/>
</message>
<message name="deleteVehicleCategory">
<part name="parameters" element="tns:deleteVehicleCategory"/>
</message>
<message name="deleteVehicleCategoryResponse">
<part name="parameters" element="tns:deleteVehicleCategoryResponse"/>
</message>
<message name="getVehicleCategoryh">
<part name="parameters" element="tns:getVehicleCategoryh"/>
</message>
<message name="getVehicleCategoryhResponse">
<part name="parameters" element="tns:getVehicleCategoryhResponse"/>
</message>
<message name="vehicleCategoryList">
<part name="parameters" element="tns:vehicleCategoryList"/>
</message>
<message name="vehicleCategoryListResponse">
<part name="parameters" element="tns:vehicleCategoryListResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="AdminList">
<part name="parameters" element="tns:AdminList"/>
</message>
<message name="AdminListResponse">
<part name="parameters" element="tns:AdminListResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="addDriver">
<part name="parameters" element="tns:addDriver"/>
</message>
<message name="addDriverResponse">
<part name="parameters" element="tns:addDriverResponse"/>
</message>
<message name="customerSignup">
<part name="parameters" element="tns:customerSignup"/>
</message>
<message name="customerSignupResponse">
<part name="parameters" element="tns:customerSignupResponse"/>
</message>
<message name="addBranch">
<part name="parameters" element="tns:addBranch"/>
</message>
<message name="addBranchResponse">
<part name="parameters" element="tns:addBranchResponse"/>
</message>
<message name="viewBranches">
<part name="parameters" element="tns:viewBranches"/>
</message>
<message name="viewBranchesResponse">
<part name="parameters" element="tns:viewBranchesResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="deleteDriver">
<part name="parameters" element="tns:deleteDriver"/>
</message>
<message name="deleteDriverResponse">
<part name="parameters" element="tns:deleteDriverResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="adminLogin">
<part name="parameters" element="tns:adminLogin"/>
</message>
<message name="adminLoginResponse">
<part name="parameters" element="tns:adminLoginResponse"/>
</message>
<message name="updatedCustomer">
<part name="parameters" element="tns:updatedCustomer"/>
</message>
<message name="updatedCustomerResponse">
<part name="parameters" element="tns:updatedCustomerResponse"/>
</message>
<message name="DriverList">
<part name="parameters" element="tns:DriverList"/>
</message>
<message name="DriverListResponse">
<part name="parameters" element="tns:DriverListResponse"/>
</message>
<message name="updateDriver">
<part name="parameters" element="tns:updateDriver"/>
</message>
<message name="updateDriverResponse">
<part name="parameters" element="tns:updateDriverResponse"/>
</message>
<message name="branchesList">
<part name="parameters" element="tns:branchesList"/>
</message>
<message name="branchesListResponse">
<part name="parameters" element="tns:branchesListResponse"/>
</message>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="deleteAdminResponse">
<part name="parameters" element="tns:deleteAdminResponse"/>
</message>
<message name="customerList">
<part name="parameters" element="tns:customerList"/>
</message>
<message name="customerListResponse">
<part name="parameters" element="tns:customerListResponse"/>
</message>
<message name="driverLogin">
<part name="parameters" element="tns:driverLogin"/>
</message>
<message name="driverLoginResponse">
<part name="parameters" element="tns:driverLoginResponse"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="updateAdmin">
<part name="parameters" element="tns:updateAdmin"/>
</message>
<message name="updateAdminResponse">
<part name="parameters" element="tns:updateAdminResponse"/>
</message>
<portType name="GocheetahWebService">
<operation name="findDriverVehicleList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/findDriverVehicleListRequest" message="tns:findDriverVehicleList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/findDriverVehicleListResponse" message="tns:findDriverVehicleListResponse"/>
</operation>
<operation name="getDriver">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getDriverRequest" message="tns:getDriver"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getDriverResponse" message="tns:getDriverResponse"/>
</operation>
<operation name="getBranch">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getBranchRequest" message="tns:getBranch"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getBranchResponse" message="tns:getBranchResponse"/>
</operation>
<operation name="updatedBranch">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedBranchRequest" message="tns:updatedBranch"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedBranchResponse" message="tns:updatedBranchResponse"/>
</operation>
<operation name="deleteBranch">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteBranchRequest" message="tns:deleteBranch"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteBranchResponse" message="tns:deleteBranchResponse"/>
</operation>
<operation name="viewVehicles">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewVehiclesRequest" message="tns:viewVehicles"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewVehiclesResponse" message="tns:viewVehiclesResponse"/>
</operation>
<operation name="addVehicle">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addVehicleRequest" message="tns:addVehicle"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addVehicleResponse" message="tns:addVehicleResponse"/>
</operation>
<operation name="vehicleList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/vehicleListRequest" message="tns:vehicleList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/vehicleListResponse" message="tns:vehicleListResponse"/>
</operation>
<operation name="getVehicle">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getVehicleRequest" message="tns:getVehicle"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getVehicleResponse" message="tns:getVehicleResponse"/>
</operation>
<operation name="updateVehicle">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateVehicleRequest" message="tns:updateVehicle"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateVehicleResponse" message="tns:updateVehicleResponse"/>
</operation>
<operation name="deleteVehicle">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteVehicleRequest" message="tns:deleteVehicle"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteVehicleResponse" message="tns:deleteVehicleResponse"/>
</operation>
<operation name="getAdmin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getAdminRequest" message="tns:getAdmin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getAdminResponse" message="tns:getAdminResponse"/>
</operation>
<operation name="viewVehicleCateories">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewVehicleCateoriesRequest" message="tns:viewVehicleCateories"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewVehicleCateoriesResponse" message="tns:viewVehicleCateoriesResponse"/>
</operation>
<operation name="addVehicleCategory">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addVehicleCategoryRequest" message="tns:addVehicleCategory"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addVehicleCategoryResponse" message="tns:addVehicleCategoryResponse"/>
</operation>
<operation name="updatedVehicleCategory">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedVehicleCategoryRequest" message="tns:updatedVehicleCategory"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedVehicleCategoryResponse" message="tns:updatedVehicleCategoryResponse"/>
</operation>
<operation name="deleteVehicleCategory">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteVehicleCategoryRequest" message="tns:deleteVehicleCategory"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteVehicleCategoryResponse" message="tns:deleteVehicleCategoryResponse"/>
</operation>
<operation name="getVehicleCategoryh">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getVehicleCategoryhRequest" message="tns:getVehicleCategoryh"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getVehicleCategoryhResponse" message="tns:getVehicleCategoryhResponse"/>
</operation>
<operation name="vehicleCategoryList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/vehicleCategoryListRequest" message="tns:vehicleCategoryList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/vehicleCategoryListResponse" message="tns:vehicleCategoryListResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="AdminList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/AdminListRequest" message="tns:AdminList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/AdminListResponse" message="tns:AdminListResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="addDriver">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addDriverRequest" message="tns:addDriver"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addDriverResponse" message="tns:addDriverResponse"/>
</operation>
<operation name="customerSignup">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerSignupRequest" message="tns:customerSignup"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerSignupResponse" message="tns:customerSignupResponse"/>
</operation>
<operation name="addBranch">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addBranchRequest" message="tns:addBranch"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addBranchResponse" message="tns:addBranchResponse"/>
</operation>
<operation name="viewBranches">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewBranchesRequest" message="tns:viewBranches"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/viewBranchesResponse" message="tns:viewBranchesResponse"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/addAdminResponse" message="tns:addAdminResponse"/>
</operation>
<operation name="deleteDriver">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteDriverRequest" message="tns:deleteDriver"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteDriverResponse" message="tns:deleteDriverResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="adminLogin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/adminLoginRequest" message="tns:adminLogin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/adminLoginResponse" message="tns:adminLoginResponse"/>
</operation>
<operation name="updatedCustomer">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedCustomerRequest" message="tns:updatedCustomer"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updatedCustomerResponse" message="tns:updatedCustomerResponse"/>
</operation>
<operation name="DriverList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/DriverListRequest" message="tns:DriverList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/DriverListResponse" message="tns:DriverListResponse"/>
</operation>
<operation name="updateDriver">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateDriverRequest" message="tns:updateDriver"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateDriverResponse" message="tns:updateDriverResponse"/>
</operation>
<operation name="branchesList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/branchesListRequest" message="tns:branchesList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/branchesListResponse" message="tns:branchesListResponse"/>
</operation>
<operation name="deleteAdmin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteAdminRequest" message="tns:deleteAdmin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/deleteAdminResponse" message="tns:deleteAdminResponse"/>
</operation>
<operation name="customerList">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerListRequest" message="tns:customerList"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerListResponse" message="tns:customerListResponse"/>
</operation>
<operation name="driverLogin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/driverLoginRequest" message="tns:driverLogin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/driverLoginResponse" message="tns:driverLoginResponse"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
</operation>
<operation name="updateAdmin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateAdminRequest" message="tns:updateAdmin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/updateAdminResponse" message="tns:updateAdminResponse"/>
</operation>
</portType>
<binding name="GocheetahWebServicePortBinding" type="tns:GocheetahWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDriverVehicleList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatedBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vehicleList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewVehicleCateories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicleCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatedVehicleCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicleCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleCategoryh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vehicleCategoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AdminList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customerSignup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewBranches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatedCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DriverList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="branchesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="driverLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GocheetahWebService">
<port name="GocheetahWebServicePort" binding="tns:GocheetahWebServicePortBinding">
<soap:address location="http://localhost:8080/Gocheetah-service/GocheetahWebService"/>
</port>
</service>
</definitions>