src/wsdl/localhost_8080/Gocheetah-service/GocheetahWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.gocheetah.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.gocheetah.mycompany.com/" name="GocheetahWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.gocheetah.mycompany.com/" schemaLocation="http://localhost:8080/Gocheetah-service/GocheetahWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="customerSignup">
<part name="parameters" element="tns:customerSignup"/>
</message>
<message name="customerSignupResponse">
<part name="parameters" element="tns:customerSignupResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="adminLogin">
<part name="parameters" element="tns:adminLogin"/>
</message>
<message name="adminLoginResponse">
<part name="parameters" element="tns:adminLoginResponse"/>
</message>
<portType name="GocheetahWebService">
<operation name="customerLogin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
</operation>
<operation name="customerSignup">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerSignupRequest" message="tns:customerSignup"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/customerSignupResponse" message="tns:customerSignupResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="adminLogin">
<input wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/adminLoginRequest" message="tns:adminLogin"/>
<output wsam:Action="http://service.gocheetah.mycompany.com/GocheetahWebService/adminLoginResponse" message="tns:adminLoginResponse"/>
</operation>
</portType>
<binding name="GocheetahWebServicePortBinding" type="tns:GocheetahWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customerSignup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adminLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GocheetahWebService">
<port name="GocheetahWebServicePort" binding="tns:GocheetahWebServicePortBinding">
<soap:address location="http://localhost:8080/Gocheetah-service/GocheetahWebService"/>
</port>
</service>
</definitions>