src/wsdl/localhost_8080/Gocheetah-service/GocheetahWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.gocheetah.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.gocheetah.mycompany.com/">

<xs:element name="AdminList" type="tns:AdminList"/>

<xs:element name="AdminListResponse" type="tns:AdminListResponse"/>

<xs:element name="DriverList" type="tns:DriverList"/>

<xs:element name="DriverListResponse" type="tns:DriverListResponse"/>

<xs:element name="DstinationList" type="tns:DstinationList"/>

<xs:element name="DstinationListResponse" type="tns:DstinationListResponse"/>

<xs:element name="addAdmin" type="tns:addAdmin"/>

<xs:element name="addAdminResponse" type="tns:addAdminResponse"/>

<xs:element name="addBranch" type="tns:addBranch"/>

<xs:element name="addBranchResponse" type="tns:addBranchResponse"/>

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="addDstination" type="tns:addDstination"/>

<xs:element name="addDstinationResponse" type="tns:addDstinationResponse"/>

<xs:element name="addVehicle" type="tns:addVehicle"/>

<xs:element name="addVehicleCategory" type="tns:addVehicleCategory"/>

<xs:element name="addVehicleCategoryResponse" type="tns:addVehicleCategoryResponse"/>

<xs:element name="addVehicleResponse" type="tns:addVehicleResponse"/>

<xs:element name="adminLogin" type="tns:adminLogin"/>

<xs:element name="adminLoginResponse" type="tns:adminLoginResponse"/>

<xs:element name="branchesList" type="tns:branchesList"/>

<xs:element name="branchesListResponse" type="tns:branchesListResponse"/>

<xs:element name="customerList" type="tns:customerList"/>

<xs:element name="customerListResponse" type="tns:customerListResponse"/>

<xs:element name="customerLogin" type="tns:customerLogin"/>

<xs:element name="customerLoginResponse" type="tns:customerLoginResponse"/>

<xs:element name="customerSignup" type="tns:customerSignup"/>

<xs:element name="customerSignupResponse" type="tns:customerSignupResponse"/>

<xs:element name="deleteAdmin" type="tns:deleteAdmin"/>

<xs:element name="deleteAdminResponse" type="tns:deleteAdminResponse"/>

<xs:element name="deleteBranch" type="tns:deleteBranch"/>

<xs:element name="deleteBranchResponse" type="tns:deleteBranchResponse"/>

<xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

<xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

<xs:element name="deleteDriver" type="tns:deleteDriver"/>

<xs:element name="deleteDriverResponse" type="tns:deleteDriverResponse"/>

<xs:element name="deleteDstination" type="tns:deleteDstination"/>

<xs:element name="deleteDstinationResponse" type="tns:deleteDstinationResponse"/>

<xs:element name="deleteVehicle" type="tns:deleteVehicle"/>

<xs:element name="deleteVehicleCategory" type="tns:deleteVehicleCategory"/>

<xs:element name="deleteVehicleCategoryResponse" type="tns:deleteVehicleCategoryResponse"/>

<xs:element name="deleteVehicleResponse" type="tns:deleteVehicleResponse"/>

<xs:element name="driverLogin" type="tns:driverLogin"/>

<xs:element name="driverLoginResponse" type="tns:driverLoginResponse"/>

<xs:element name="findDriverVehicleList" type="tns:findDriverVehicleList"/>

<xs:element name="findDriverVehicleListResponse" type="tns:findDriverVehicleListResponse"/>

<xs:element name="getAdmin" type="tns:getAdmin"/>

<xs:element name="getAdminResponse" type="tns:getAdminResponse"/>

<xs:element name="getBranch" type="tns:getBranch"/>

<xs:element name="getBranchResponse" type="tns:getBranchResponse"/>

<xs:element name="getCustomer" type="tns:getCustomer"/>

<xs:element name="getCustomerResponse" type="tns:getCustomerResponse"/>

<xs:element name="getDistance" type="tns:getDistance"/>

<xs:element name="getDistanceResponse" type="tns:getDistanceResponse"/>

<xs:element name="getDriver" type="tns:getDriver"/>

<xs:element name="getDriverResponse" type="tns:getDriverResponse"/>

<xs:element name="getDstination" type="tns:getDstination"/>

<xs:element name="getDstinationResponse" type="tns:getDstinationResponse"/>

<xs:element name="getLocations" type="tns:getLocations"/>

<xs:element name="getLocationsResponse" type="tns:getLocationsResponse"/>

<xs:element name="getVehicle" type="tns:getVehicle"/>

<xs:element name="getVehicleCategoryh" type="tns:getVehicleCategoryh"/>

<xs:element name="getVehicleCategoryhResponse" type="tns:getVehicleCategoryhResponse"/>

<xs:element name="getVehicleResponse" type="tns:getVehicleResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateAdmin" type="tns:updateAdmin"/>

<xs:element name="updateAdminResponse" type="tns:updateAdminResponse"/>

<xs:element name="updateDriver" type="tns:updateDriver"/>

<xs:element name="updateDriverResponse" type="tns:updateDriverResponse"/>

<xs:element name="updateDstination" type="tns:updateDstination"/>

<xs:element name="updateDstinationResponse" type="tns:updateDstinationResponse"/>

<xs:element name="updateVehicle" type="tns:updateVehicle"/>

<xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse"/>

<xs:element name="updatedBranch" type="tns:updatedBranch"/>

<xs:element name="updatedBranchResponse" type="tns:updatedBranchResponse"/>

<xs:element name="updatedCustomer" type="tns:updatedCustomer"/>

<xs:element name="updatedCustomerResponse" type="tns:updatedCustomerResponse"/>

<xs:element name="updatedVehicleCategory" type="tns:updatedVehicleCategory"/>

<xs:element name="updatedVehicleCategoryResponse" type="tns:updatedVehicleCategoryResponse"/>

<xs:element name="vehicleCategoryList" type="tns:vehicleCategoryList"/>

<xs:element name="vehicleCategoryListResponse" type="tns:vehicleCategoryListResponse"/>

<xs:element name="vehicleList" type="tns:vehicleList"/>

<xs:element name="vehicleListResponse" type="tns:vehicleListResponse"/>

<xs:element name="viewBranches" type="tns:viewBranches"/>

<xs:element name="viewBranchesResponse" type="tns:viewBranchesResponse"/>

<xs:element name="viewDstination" type="tns:viewDstination"/>

<xs:element name="viewDstinationResponse" type="tns:viewDstinationResponse"/>

<xs:element name="viewVehicleCateories" type="tns:viewVehicleCateories"/>

<xs:element name="viewVehicleCateoriesResponse" type="tns:viewVehicleCateoriesResponse"/>

<xs:element name="viewVehicles" type="tns:viewVehicles"/>

<xs:element name="viewVehiclesResponse" type="tns:viewVehiclesResponse"/>

<xs:complexType name="deleteDriver">
<xs:sequence>
<xs:element name="cs" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driver">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="driverID" type="xs:int"/>
<xs:element name="licence" type="xs:string" minOccurs="0"/>
<xs:element name="vehicle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person" abstract="true">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DstinationList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DstinationListResponse">
<xs:sequence>
<xs:element name="return" type="tns:destination" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="destination">
<xs:sequence>
<xs:element name="destinationID" type="xs:int"/>
<xs:element name="distance" type="xs:int"/>
<xs:element name="dBranch" type="xs:string" minOccurs="0"/>
<xs:element name="dDrop" type="xs:string" minOccurs="0"/>
<xs:element name="dPickup" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedVehicleCategory">
<xs:sequence>
<xs:element name="vc" type="tns:vehicleCat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleCat">
<xs:sequence>
<xs:element name="presentage" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleCatId" type="xs:int"/>
<xs:element name="vehicleCategory" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedVehicleCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branchesList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="branchesListResponse">
<xs:sequence>
<xs:element name="return" type="tns:branchCategory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branchCategory">
<xs:sequence>
<xs:element name="branchId" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerLogin">
<xs:sequence>
<xs:element name="cs" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="customerId" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicle">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicle">
<xs:sequence>
<xs:element name="availability" type="xs:string" minOccurs="0"/>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="chasiNo" type="xs:string" minOccurs="0"/>
<xs:element name="driver" type="xs:string" minOccurs="0"/>
<xs:element name="noPlate" type="xs:string" minOccurs="0"/>
<xs:element name="passengers" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int"/>
<xs:element name="vehicleName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAdmin">
<xs:sequence>
<xs:element name="ad" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="admin">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="adminId" type="xs:int"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="addAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverLogin">
<xs:sequence>
<xs:element name="dr" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewDstination">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewDstinationResponse">
<xs:sequence>
<xs:element name="return" type="tns:destination" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranch">
<xs:sequence>
<xs:element name="bn" type="tns:branchCategory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleCategory">
<xs:sequence>
<xs:element name="vc" type="tns:vehicleCat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicle">
<xs:sequence>
<xs:element name="vh" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewBranches">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewBranchesResponse">
<xs:sequence>
<xs:element name="return" type="tns:branchCategory" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranch">
<xs:sequence>
<xs:element name="bn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchResponse">
<xs:sequence>
<xs:element name="return" type="tns:branchCategory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedBranch">
<xs:sequence>
<xs:element name="bn" type="tns:branchCategory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerSignup">
<xs:sequence>
<xs:element name="cs" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerSignupResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AdminListResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdmin">
<xs:sequence>
<xs:element name="ad" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewVehicleCateories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewVehicleCateoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleCat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDstination">
<xs:sequence>
<xs:element name="ds" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDstinationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDstination">
<xs:sequence>
<xs:element name="ds" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDstinationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDstination">
<xs:sequence>
<xs:element name="ds" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDstinationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicle">
<xs:sequence>
<xs:element name="vh" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomer">
<xs:sequence>
<xs:element name="cs" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicle">
<xs:sequence>
<xs:element name="vh" type="tns:vehicle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomer">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomerResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminLogin">
<xs:sequence>
<xs:element name="ad" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adminLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewVehicles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewVehiclesResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriver">
<xs:sequence>
<xs:element name="dr" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriver">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranch">
<xs:sequence>
<xs:element name="bn" type="tns:branchCategory" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBranchResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistance">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDistanceResponse">
<xs:sequence>
<xs:element name="return" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDstination">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDstinationResponse">
<xs:sequence>
<xs:element name="return" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedCustomer">
<xs:sequence>
<xs:element name="cs" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatedCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdmin">
<xs:sequence>
<xs:element name="dr" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleCategory">
<xs:sequence>
<xs:element name="vc" type="tns:vehicleCat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteVehicleCategoryResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdmin">
<xs:sequence>
<xs:element name="searach" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminResponse">
<xs:sequence>
<xs:element name="return" type="tns:admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="customerListResponse">
<xs:sequence>
<xs:element name="return" type="tns:customer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocations">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:destination" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleCategoryh">
<xs:sequence>
<xs:element name="srch" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVehicleCategoryhResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleCat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="vehicleListResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="dr" type="tns:driver" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DriverList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DriverListResponse">
<xs:sequence>
<xs:element name="return" type="tns:driver" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicleCategoryList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="vehicleCategoryListResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicleCat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDriverVehicleList">
<xs:sequence>
<xs:element name="search" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDriverVehicleListResponse">
<xs:sequence>
<xs:element name="return" type="tns:vehicle" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>